.navbar {
  background-color: $dark-grey;

}

.navbar-brand{
  color: lighten($dark-grey, 25%);
  font-size: 34px;
  transition: 0.3s;
}
.nav-item{
  color: lighten($dark-grey, 25%);
  font-size: 24px;
  transition: 0.3s;
  margin-left: 10px;
}
.nav-item:hover{
  color: lighten($dark-grey, 35%);
}
.navbar-brand:hover{
  color: lighten($dark-grey, 35%);
}
.navbar-brand .active{
  color: lighten($dark-grey, 35%);
}

.navbar-brand .row .col-md-4{
  margin-left: 0rem;
  margin-right: 0rem;
}

.navbar .form-group {
  margin-bottom: 0rem;
  margin-top: 0rem;
}
