@import 'color_variables';
@import 'override-bootstrap';
@import 'drag-drop-image-upload';
@import 'navbar';
@import 'customs';

body {
  background-color: $background;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

main {
  padding: 10px;
  width: 99%;
  background-color: white;
  margin-top: -100px;
}

.index-card {
  width: 20rem;
}


.add-new {
  padding: 10px;
  margin: 20px auto;
  background-color: $background;
  @extend .box-shadow;
  @extend .border-radius;
}

.profile-card .card-img-top {
  height: 150px;
}

.profile-card .card {
  background-color: $background;
  padding-top: 10px;
}

.profile-card-img{
  margin-bottom: 20px;
  width: 100px;
  border-radius: 50%;
}

.lesson-content {
  margin: 20px 0;
  width: 100%;
}

.test-label {
  margin-left: 10px;
  // opacity: 0;
}

.btn-answer{
  width: 60%;
  padding:10px;
  @extend .border-radius;
}

.admin-main-container{
  margin-top: 50px;
}

.admin-element-img{
  width: 100px;
  height:100px;
}

.admin-list .row {
  margin-bottom: 10px;
}

.danger{
color: red;
}
